# Ignore Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates

# Ignore JetBrains Rider files
.idea/

# Ignore publish profiles
Azurecito.Web/Properties/PublishProfiles/

# Ignore temporary uploads
Azurecito.Web/TempUploads/
Azurecito.Web/wwwroot/TempUploadRoot/

# Ignore specific files
Azurecito.Web/Views/Shared/Error.cshtml
Azurecito.Web/Models/SesionLayoutViewModel.cs
Azurecito.Web/Views/Fotos/Error.cshtml
Azurecito.Web/Views/Fotos/Ver.cshtml

