@{
    ViewData["Title"] = "Subir Foto";
}

<h1>Subir Foto</h1>

@if (ViewBag.UserId != null)
{
    <p>Su ID de usuario es: @ViewBag.UserId</p>
}

<form asp-action="SubirFoto" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Seleccionar Foto:</label>
        <input type="file" name="file" class="form-control" />
    </div>
    <input type="hidden" name="userId" value="@ViewBag.UserId" />
    <button type="submit" class="btn btn-primary">Subir</button>
</form>
